extends layout

block content
  div.container
    h1.header Timestamp microservice
    h3 Example usage:
    code https://timestamp-api-aaroncallahan.c9users.io/December%2025,%202016<br/>
    code https://timestamp-api-aaroncallahan.c9users.io/1482624000
    h3 Example output:
    code { "unix":1482624000, "natural":"December 25, 2016" }